/* .input-box{
    position: fixed;
    bottom: 20px;
    width:100%;  
}

.input-box input{
    width: 50%;
}    */
.button-color{
    background-color:"burlywood";
}
.left{
    padding-right:35%;
}
.justify{
    text-align:justify;
}
.input-box input{
    width: 40%;
} 
.todo-list{
}
.text-center{
    text-align:center;
}
.text-right{
    text-align:right;
}
.text-left{
    text-align:left;
}

.strike-through{
    text-decoration: line-through;
}