<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="appStyle.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="mainController.js"></script>
</head>

<body>
    <div ng-app="myApp" ng-controller="mainController">
        <div class="container">
            <div class="row">
                <div class="col-sm-2"><br>
                    <div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="width:130px">
                            <h5 class="w3-bar-item">Tasks</h5>
                            <br><div class="w3-bar-item w3-button tablink">
                                    <div ng-repeat="groupObj in groupArr">
                                      <button class="w3-bar-item w3-button tablink" ng-click="selectedGroup($index)">{{groupObj.name}}</button>                                    
                                    </div>
                                </div>                                                              
                                    
                                <h5>Group Name</h5>
                                <input type="text" ng-model="groupnameInput" size="10" placeholder="Group Name"><br>
                                <button ng-click="groupAdd()">Save</button>
                                    
                                
                    </div> 
                </div>
            </div>    
                <div class="row">
                <div class="col-sm-10"><br>
                    <div class="input-box text-center" id="txt_name">
                        <div id="list-wrapper">
                          
                          <div class="w3-container w3-display-container group">                               
                                <div ng-repeat="taskObj in visibleTaskArr">
                                    <span>
                                        <input type="checkbox" checked ng-if="taskObj.checkedStatus" ng-click="handleCheckboxClick($index, taskObj.checkedStatus)">
                                        <input type="checkbox" ng-if="!taskObj.checkedStatus" ng-click="handleCheckboxClick($index,taskObj.checkedStatus )">
                                    </span>
                                    <span class="strike-through" ng-if="taskObj.checkedStatus"> {{taskObj.text}}</span>
                                    <span ng-if="!taskObj.checkedStatus"> {{taskObj.text}}</span>
                                </div>    
                           </div>
                              
                              
                              <br><br>
                 
                                
                                    <h5>Input Box</h5>
                                    <input type="text" ng-model="todoInput" placeholder="Write your task">
                                    <button ng-click="toAdd()">Save</button>
                               
                            
                                
                          </div>
                          
                        </div><br><br>
                        <br>
                        
                        <br><br>
                        
                    </div>
                </div>
            
        </div>
    </div>
   
    
</body>

</html>